/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 Feb, 2015, 4:51:31 PM
    Author     : BC Choudhary
*/
#location-field
{
    margin: 0 auto; 
    width: 45%;
}
#latitude-longitude-fields
{
    margin: 0 auto; 
    width: 48%;
}
.map-area
{
    width:1340px;
    height:500px; 
    margin-top: 30px;
    margin-left: 12px
}